@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900");
.flex-center, .top-bar, .top, .logo {
  justify-content: center;
  align-items: center;
}

.fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.default-bgWithTxt {
  background: #b99d77;
  color: white;
}

.hover-bg-gray {
  background: #bfbfbf;
  color: black;
}

.txt-light {
  color: white;
}

.no-underline, .top-bar-item, .a-style-brown, .marquee a, .main-caption a {
  text-decoration: none;
}

.a-style-brown, .marquee a, .main-caption a {
  color: #4a2d06;
}
.a-style-brown:hover, .marquee a:hover, .main-caption a:hover {
  text-decoration: underline;
}

.transition-bg {
  -webkit-transition: background-color 80ms ease-in-out;
  -moz-transition: background-color 80ms ease-in-out;
  -o-transition: background-color 80ms ease-in-out;
  -ms-transition: background-color 80ms ease-in-out;
  transition: background-color 80ms ease-in-out;
}

.f-size-l {
  font-size: 35px;
}

.f-size-m, .top-bar {
  font-size: 20px;
}

.f-size-s {
  font-size: 12px;
}

.f-light, footer {
  font-weight: 300;
}

.f-size-l {
  font-size: 35px;
}

.f-size-m, .top-bar {
  font-size: 20px;
}

.f-size-s {
  font-size: 12px;
}

.f-light, footer {
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.disable-scroll {
  overflow: hidden;
}
.disable-scroll .banner .top {
  position: fixed;
  top: 0;
  bottom: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: url("images/bg.jpg") no-repeat;
  background-size: 100% 100%;
  line-height: 1.25;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  background: url("images/bg-texture.png") repeat-x;
}
header div {
  border: solid 0px;
}

footer {
  background: #fffef5 url("images/ft-bg.png") repeat-x;
  text-align: center;
  letter-spacing: 1;
  padding: 10px 0;
}
footer p {
  margin: 10px 0;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: black;
}

.slogn {
  width: 35%;
}
.slogn img {
  width: 100%;
  max-width: 410px;
}

.logo {
  display: flex;
  width: 30%;
  height: 270px;
  text-align: center;
}
.logo img {
  width: 100%;
  max-width: 255px;
}

.fb {
  width: 35%;
  text-align: center;
  flex-direction: column;
}
.fb .views {
  display: block;
  margin-bottom: 10px;
}
.share span {
  padding-right: 5px;
}

.home-image {
  display: flex;
  position: relative;
  max-height: 700px;
  border: solid 18px #b99d77;
}
.home-image h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-img {
  width: 50%;
  border-right: solid 1px #b99d77;
  overflow: hidden;
}
.main-img img {
  display: block;
  width: 100%;
}

.main-caption {
  margin-top: 60px;
  margin-left: 60px;
  font-size: 22px;
}
.main-caption ul li {
  line-height: 3;
}

.row {
  padding: 30px 0;
}

.row-content {
  margin: 0 auto;
  width: 80%;
}

.heading {
  text-align: center;
}

.marquee {
  width: 100%;
  height: 50px;
  border: solid 0px black;
  overflow: hidden;
}
.marquee p {
  font-size: 22px;
  margin: 0 0 30px 0;
}

.banner {
  background: url(images/content-1head.png) no-repeat;
  width: 100%;
  height: 300px;
  position: relative;
}
.banner .top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.banner-slogn {
  position: absolute;
  right: 120px;
  top: 70px;
  text-align: right;
}
.banner-slogn img {
  width: 100%;
  max-width: 360px;
}

.page-content {
  height: 100%;
}

.mb-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  color: black;
  font-size: 24px;
  z-index: 1;
}
.mb-icon:hover {
  color: #d34541;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.list-item {
  margin: 0 10px;
}

.list-item__a {
  display: block;
  width: 220px;
  margin: 10px 0px;
}
.list-item__a:hover .item-description {
  border-top: 5px solid #d34541;
}
.list-item__a img {
  display: block;
  width: 100%;
}
.list-item__a figure {
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.1);
}

.item-description {
  background: #FEFCF1;
  border-top: 5px solid #bfa980;
  border-bottom: 1px solid #bfa980;
  padding: 14px 0 19px 0;
  text-align: center;
}
.item-description h5 {
  font-size: 13px;
  color: #333;
  font-weight: 600;
  line-height: 24px;
}
.item-description span {
  display: block;
  color: #888;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
}

.page-header {
  background: url(images/content-page-header-long.png) no-repeat;
  width: 100%;
  max-width: 947px;
  height: 64px;
  margin: 20px auto;
  position: relative;
}
.page-header span {
  position: absolute;
  left: 60px;
  top: 20px;
  font-size: 20px;
}

.page-content {
  padding: 10px;
}
.page-content a {
  color: #d34541;
}
.page-content a:hover {
  color: #4a2d06;
}

.contact, .large-notice, .map {
  max-width: 820px;
  margin: 0 auto 60px auto;
}
.contact a, .large-notice a, .map a {
  word-break: break-all;
}

.contact ul li {
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 10px;
}
.contact ul li span {
  display: block;
  border-right: solid 1px #b99d77;
  margin-right: 20px;
}
.contact ul li span:nth-child(2) {
  border: 0;
}
.contact ul li a {
  padding-right: 5px;
}

.large-notice {
  background: #fffef5;
  border: solid 1px #b99d77;
  padding: 10px;
}
.large-notice h3 {
  font-weight: normal;
  font-size: 16px;
}
.large-notice .note-1 {
  color: #0076C0;
}

.highlight {
  color: #d34541;
}

.map {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding-right: 10px;
}
.map img {
  width: 100%;
}

/*==================================================================== */
/* FlexSlider
====================================================================== */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles */
.flexslider {
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.flexslider .slides > li {
  display: none;
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:first-child {
  display: block;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme */
.flexslider {
  margin: 0 auto;
  max-width: 947px;
  border: none;
  position: relative;
  zoom: 1;
}

.flexslider.home {
  margin: 0;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav .flex-next {
  background: url(images/slider-right.png) no-repeat 50%;
  background-color: #4c4c4c;
  right: 0;
  border-radius: 2px 0 0 2px;
}

.flex-direction-nav .flex-prev {
  background: url(images/slider-left.png) no-repeat 50%;
  background-color: #4c4c4c;
  left: 0;
  border-radius: 0 2px 2px 0;
}

.flex-direction-nav a {
  width: 39px;
  height: 71px;
  margin-top: -36px;
  display: block;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  text-indent: -9999px;
  top: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
}

.flexslider.home:hover .flex-next,
.flexslider.home:hover .flex-prev {
  opacity: 1;
  filter: alpha(opacity=100);
}

.home .flex-direction-nav a {
  opacity: 0;
  filter: alpha(opacity=0);
}

.flexslider .flex-next:hover,
.flexslider .flex-prev:hover {
  background-color: #169fe6;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* Caption */
.slide-caption {
  width: 100%;
  padding: 28px;
  margin: 0;
  position: absolute;
  display: block;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  zoom: 1;
}

.slide-caption h3 {
  color: #fff;
  padding-bottom: 10px;
  margin: 0;
  line-height: 22px;
}

.slide-caption p {
  margin: 0;
  line-height: 19px;
  color: #bbb;
  font-size: 15px;
}

@media (max-width: 1205px) and (min-width: 800px) {
  .main-img {
    display: flex;
    justify-content: center;
  }
  .main-img img {
    width: auto !important;
    height: 100%;
  }
}
@media (max-width: 799px) {
  .home-image {
    flex-direction: column;
    max-height: none !important;
  }
  .home-image .main-img {
    width: 100%;
    min-height: 200px;
  }
  .home-image .main-caption {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 601px) {
  .list-wrapper {
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }

  header {
    flex-direction: column;
  }
  header .slogn,
header .fb,
header .logo {
    text-align: center;
    width: 100%;
  }
  header .slogn img {
    max-width: 300px;
    min-width: 300px;
  }

  .fb {
    padding-bottom: 8px;
  }

  .banner {
    height: 268px;
  }

  .banner-slogn {
    display: none;
  }

  #navigation {
    display: none;
  }
  #navigation.open-menu {
    display: block;
  }

  .mb-icon.open .fa-times {
    display: block;
    margin-top: 5px;
  }
  .mb-icon.open .fa-bars {
    display: none;
  }
  .mb-icon .fa-times {
    display: none;
  }

  .banner .top {
    top: 0;
  }

  .top-bar {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .top-bar ul.cols3 {
    position: initial;
    padding-left: 14px;
    display: flex;
    flex-wrap: wrap;
  }

  .top-bar li .col1 li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .list-wrapper {
    justify-content: center;
  }

  .map {
    grid-template-columns: auto;
    padding-right: 0px;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .hide-medium {
    display: none !important;
  }

  .banner-slogn {
    right: 0;
    width: 40%;
  }
}
@media (min-width: 601px) {
  .mb-icon {
    display: none;
  }

  .top {
    bottom: 0;
  }
}
@media (min-width: 993px) {
  .hide-large {
    display: none !important;
  }
}
#current {
  background-color: #169fe6;
  border-right: 1px solid #169fe6;
  margin-left: -1px;
  padding-left: 21px;
  z-index: 8;
  position: relative;
}

.top {
  display: flex;
  background: #FEFCF1;
  border-top: solid 5px #b99d77;
  border-bottom: solid 5px #b99d77;
}
.top a {
  color: #4a2d06;
}
.top .mb-navi-icon {
  display: none;
}

.top-bar {
  display: flex;
}
.top-bar a {
  color: #4a2d06;
  padding: 17px 24px;
  white-space: nowrap;
}
.top-bar li a {
  font-size: 13px;
  line-height: 18px;
}

.mega-menu {
  position: relative;
}

.top-bar a {
  text-decoration: none;
}

/* Reset  */
.top-bar, .top-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-bar li, .top-bar ul a {
  position: relative;
}

.top-bar li {
  float: left;
}

.top-bar li.floatr {
  float: right;
}

.top-bar li a {
  display: block;
}

.top-bar ul ul {
  top: 0;
  left: 170px;
}

.top-bar li:hover > ul {
  display: block;
}

.top-bar li:hover a {
  border-left: none;
}

ul.top-bar li a {
  -webkit-transition: background-color 80ms ease-in-out;
  -moz-transition: background-color 80ms ease-in-out;
  -o-transition: background-color 80ms ease-in-out;
  -ms-transition: background-color 80ms ease-in-out;
  transition: background-color 80ms ease-in-out;
}

.top-bar ul li a {
  -webkit-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -moz-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -o-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -ms-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
}

.top-bar li a img,
.top-bar li ul li a img {
  border: 0;
  margin-right: 7px;
}

/* Sub Menu */
.top-bar ul a {
  color: #777;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 12px;
}

.top-bar ul a:hover {
  color: #555;
}

.top-bar h4 {
  font-size: 13px;
  color: #888;
  font-weight: normal;
  margin: 0px 10px 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  letter-spacing: 0;
}
.top-bar h5 {
  color: #4a2d06;
  white-space: nowrap;
  font-size: 13px;
  margin: 8px 10px -3px 10px;
}
.top-bar ol {
  list-style: none;
  margin: 7px 0px;
  padding: 0;
}
.top-bar ol a {
  color: #777;
  font-size: 12px;
  padding: 3px 0;
  line-height: 15px;
}
.top-bar p {
  font-size: 12px;
  line-height: 18px;
  margin: 9px 10px;
  padding: 0;
}
.top-bar p a {
  color: #888;
  text-decoration: underline;
}
.top-bar p a:hover {
  color: #555;
}
.top-bar li a {
  display: block;
}
.top-bar li li {
  float: none;
}
.top-bar li .col1 li a {
  padding-left: 0;
}

@media (min-width: 601px) {
  .top-bar ul {
    position: absolute;
    display: none;
    width: 170px;
  }

  .top-bar ul {
    background-color: #b99d77;
    border: 1px solid #e0e0e0;
    border-top: none;
    left: -1px;
    z-index: 999;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  }

  .top-bar ul a {
    border-top: 1px solid #e6e6e6;
  }

  .top-bar ul,
.top-bar li div {
    visibility: hidden;
    display: none;
  }

  .top-bar li:hover ul,
.top-bar li:hover div {
    visibility: visible;
    display: block;
  }

  /* Mega Menu */
  .top-bar ul.cols3 {
    position: absolute;
    display: none;
    overflow: auto;
    z-index: 999;
    border-left: #b99d77;
    border-right: #b99d77;
    border-bottom: #b99d77;
    background: #fefef2;
  }

  .top-bar .cols3,
.top-bar .col3 {
    width: 480px;
  }

  .top-bar li:hover ul.cols3 {
    display: flex;
  }

  ul.cols3 {
    right: 0;
  }
  ul.cols3 a {
    background: none;
    border: none;
  }
  ul.cols3 a:hover {
    background: none;
    border: none;
  }
}
:disabled * {
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
