@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {
  .disable-scroll {
    overflow: hidden;
  }

  .fix-top {
    flex-direction: row;

    .second-nav {
      padding-top: 0px;
    }
  }

  .language,
  .sidr-class-language {
    margin-bottom: 35px;
    margin-left: 20px;
    text-transform: uppercase;

    span:after {
      content: "/";
      padding: 0 5px;
      color: $gray;
    }

    span:last-child:after {
      content: "";
    }

    span.active {
      color: $black;
    }
  }

  .contact {
    margin: 0 30px 30px 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .email {
    span {
      display: block;
      margin-bottom: 6px;
    }

    span:first-child {
      color: $black;
    }

    span:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    line-height: initial;
  }
  #mobile-header {
    display: block !important;
  }

  .second-nav {
    margin-left: 16px;
    div {
      flex: 1 0 21%;
    }
  }

  .edition-display,
  .feed-display {
    &.artwork-gallery {
      padding-top: 255px !important;
    }
  }
}

/// Mobile screen
@media (max-width: 468px) {
  #header {
    width: 100%;
  }
  .sorting {
    display: none;
  }

  /// Landing slider
  .landing-slider {
    .carousel-inner {
      .item {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .carousel-caption {
      left: 20px;
      bottom: 62px;
    }
  }

  /// Footer
  #footer {
    display: flex;

    // Column left
    // Column right
    .input,
    .button {
      .screen-l {
        display: none;
      }

      .screen-sm {
        display: inline-block;
      }
    }

    #general-content-left {
      .container-footer {
        padding-left: 5px;
      }

      .navbar-nav-footer {
        display: flex !important;
        overflow: initial !important;

        li>a {
          padding: 10px 7px;
          letter-spacing: 0;
        }
      }
    }

    #general-content-column-right {
      padding-right: 5px;

      input {
        width: 100%;

        &::placeholder {
          font-size: 12px;
        }
      }

      button {
        padding: 0 8px;
        margin-left: 5px;

        img {
          width: 10px;
          margin-top: -2px;
        }
      }

      img {
        margin-left: 0;
      }

      p {
        display: none;
      }

      .subscribe {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

  /// Feed
  .feed-frame {
    .user-url {
      width: 94%;

      .url {
        width: auto;
      }
    }
  }
}

/// Mobile screen
@media (max-width: 415px) {
  header {
    margin: 0 10px;
    height: 120px;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .second-nav {
    margin-left: 0;
    top: 150px;

    &.fix-top {
      padding-top: 6px;
    }
  }

  .navbar-text-dark .size-title {
    padding-bottom: 4px;
  }

  #mobile-header.menu-expand-button {
    right: 10px;
  }

  .fix-top {
    left: 10px;
    right: 10px;
  }

  .edition-display,
  .feed-display {
    margin: 0 10px;

    &.artwork-gallery {
      padding-right: 0;
      width: $mb-screen-width-calc !important;
    }

    &.artwork-gallery>.artwork-installed-list-gallery {
      &.edition-frame {
        width: 50% - ($frame-margin/2) !important;
        max-width: $mb-frame-width;
        margin-right: $frame-margin !important;
        margin-bottom: 16px;
        flex: 1 0 41%;
        overflow: initial !important;

        &:nth-child(2n+0) {
          margin-right: 0 !important;
        }

        .user-purchased-list-thumbnail {
          margin: 0 0 14px 0;
        }

        .user-purchased-list-info-gallery {
          padding: 0 0 0 0;
        }
      }

      .user-purchased-list {

        img,
        video {
          width: 100%;
          height: auto;
          max-width: $mb-frame-item-w;
          max-height: $mb-frame-item-h !important;
        }
      }

      &.feed-frame .user-purchased-list {

        img,
        video {
          width: auto !important;
          height: auto;
          max-width: initial;
          max-height: $mb-frame-item-h !important;
        }
      }

      .mask-cover {
        padding: 0 !important;
        text-align: center;

        a {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

/// Desktop screen
@media (min-width: 460px) {
  #header {
    left: 30px;
  }

  /// Landing
  .landing-slider {
    .img-wrapper {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .carousel-caption {
      left: 32px;
      bottom: (32px + 60px);
      font-size: 22px;
    }
  }

  .edition-display,
  .feed-display {
    padding-top: 344px !important;
  }

  .edition-frame {
    .user-purchased-list-gallery {
      .mask-cover {
        padding-left: 24.4% !important;
        padding-right: 24.4% !important;
        padding-top: 11.75% !important;
        padding-bottom: 11.75% !important;
      }
    }
  }

  .feed-frame {
    .user-purchased-list-gallery {
      .mask-cover {
        padding: 10% 10% !important;
      }
    }

  }

  .artwork-gallery>.artwork-installed-list-gallery {
    &.edition-frame {
      width: auto !important;
      max-width: (100% - ($frame-margin * 3)) / 4;
      margin-right: $frame-margin !important;
      flex: 1 0 22%;
      overflow: initial !important;

      &:nth-child(4n+0) {
        margin-right: 0 !important;
      }

      .user-purchased-list-thumbnail {
        padding-bottom: 114.5% !important;
        margin: 0 0 14px 0;
      }

      .user-purchased-list-info-gallery {
        padding: 0 0 14.21% 0;
      }
    }

    &.feed-frame {
      margin-bottom: 89px !important;
      .user-purchased-list-thumbnail {
        margin: 0;
      }
      .user-purchased-list-info-gallery {
        padding: 0;
      }
    }
  }

  /// Footer
  #footer {
    .container-footer {
      padding-left: 40px;
    }

    .navbar-nav-footer {
      margin-left: 0;
    }

    .navbar-nav-footer>li {
      a {
        padding: 10px $footer-a-spacing;
      }

      &:first-child a {
        padding-left: 0;
      }
    }

    #general-content-column-right {
      padding-right: 50px;
      padding-top: 17px;
    }

    .subscribe {
      margin-right: 34px;
    }

    .social-media {
      img {
        margin-left: 21px;
      }

      a:first-child {
        img {
          margin-left: 0
        }
      }
    }
  }
}

@media screen and (max-width: 950px) and (min-width: 768px) {
  .second-nav.fix-top {
    top: 50px;
  }
}

@media (min-width: 768px) {
  #header {
    width: $screen-width-calc;
  }

  /// Desktop top nav style
  #navigation.navigation-wrapper {
    width: $screen-width-calc;
    max-width: $scree-maxWidth - 60px;
    height: 18px;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: flex-end;

    ul {
      margin: 0;
    }
  }

  .nav {
    .language {
      display: none;
    }
  }

  .contact {
    display: none;
  }

  .nav.login {
    float: none;
    margin-right: 8px;

    li {

      /// Sub-menu
      ul {
        position: absolute;
        display: none;
        padding-left: 20px;
        padding-top: 2px;
      }

      &:hover {
        ul {
          display: block !important;
        }
      }
    }
  }
}

@media (min-width: 1025px) {}

@media (min-width: 1280px) {
  .top-nav-wrapper {
    width: 628px;
  }

  li.m-level-1 {
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 1400px) {
  /// Edition frame
  // .edition-frame {
  //   &:nth-child(4n+0) {
  //     margin-right: 0;
  //   }
  // }
}

@media (min-width: 1441px) {
  // .edition-frame {
  //   font-size: $font-size-medium;
  //   line-height: $line-height-medium;
  //   width: 100%;
  //   max-width: $frame-width-xl;
  //   height: 100%;
  //   margin-right: $frame-margin-xl;
  //   margin-bottom: 43px;
  //   .item {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     width: 100%;
  //     background: $light-gray;
  //     margin-bottom: 14px;
  //     img,
  //     video {
  //       width: 100%;
  //       max-width: $frame-item-w-xl;
  //       max-height: $frame-item-h-xl;
  //     }
  //   }
  // }
}