/*** CSS for gallery layout ***/
body,
label {
  font-weight: 300;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}
b, strong{
     font-weight: 600;
     font-size: 11px;
     -webkit-font-smoothing: antialiased;
     letter-spacing: 0.2px;
}
.main_widget_container {
    max-width: 100%;
    width: 100%;
    margin: 0;
}
.item-on-page>.dropdown-menu > li >a {
    text-transform: uppercase; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    letter-spacing: 1.1px;
    line-height: 10px;
    padding: 0 20px;
    margin: 15px 0;
    color: #333333;
    
}
.item-on-page>.dropdown-menu > li >a:hover {
    color: #666;
}

.item-on-page{
    height: 112px;
    background: #cccccc;
    padding: 44px 0 44px 30px!important;
}
.item-on-page .btn-gallery{
    margin: 0 10px 0 0;
    width: 91px;
    display: none;
}
.btn-gallery>.btn{
  border-radius: 0!important;
  height: 24px;
  box-sizing: border-box;
  line-height: 24px;
  padding: 0;
  font-size: inherit;
}

.btn-gallery> button.btn:first-child{
   padding: 0 5px;
}

.load-more {
    padding: 64px 0 85px 0;
    text-align: center;
    clear: both;
}
.load-more button{
    border-radius: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'TeutonHell', 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.profile-cover-container {

}