.navbar-right-bordered {
	border-left: 0px;
	margin-left: -15px;
	padding-left: 0px;
}
.user-avatar, .user-page-info, .device-framed {
	display: none;
}

.bg-green {
	padding: 20px 20px;
}

.nav > li > a {
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}

.navbar-nav-header > li > a {
	font-size: 10.5px;
	letter-spacing: 1.1px;
    font-weight: normal;
    padding: 0px 14px;
}

/*.dropdown-menu > li > a {
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}*/

.private-navbar > li > a {
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}

.navbar-nav-footer > li > a {
	text-align: center;
	font-size: 12px;
	letter-spacing: 1.1px;
}

.private-navbar {
	margin: auto;
}

.private-navbar li {
	float: left;
    padding-left: 5px;
}

/*.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 10px 15px;
}*/

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #FFF;
}

.user-page ul {
	padding-left: 0px !important;
}

.device_items {
	margin-bottom: 30px;
}

.setting-tip {
	width: 120%;
}

.user-setting-info {
	padding-bottom: 50px;
}

.margin-left-15 .form-group {
	margin-right: -15px;
}

.margin-right-15 .form-group {
	margin-left: -15px;
}